* {
    font-size: 16px;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}

:root {
    --red: #50050f;
    --w: white;
}

body {
    background-color: #a7a7a7;
}

#Lizzie {
    height: 120px;
    width: 100px;
}

.header {
    background-color: var(--red);
    color: var(--w);
    padding: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
}
.header h1 {
    font-size: 32px;
    display: inline-block;
}

.header nav {
    padding-left: 10rem;
    width: 30rem;
}

.header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.header nav ul li {
    display: inline-block;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: text;
}

.label {
    display: flex;
    flex-direction: row;
    background-color: var(--red);
    color: var(--w);
    border: 8px solid var(--red);
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about p {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-right: 19rem;
    margin-left: 19rem;
}
.column-container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 17px;
    margin: 0px;
}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.img-title {
    display: flex;
    position: relative;
    justify-content: flex-start;
    color: var(--w);
    background-color: black;
    border: 7px solid black;
    top: 60px;
}

.works img {
    height: 300px;
    width: 300px;
    border: 3px solid black;
}

#mainimg {
    height: 622px;
    width: 622px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact ul {
    list-style-type: none;
}

.contact ul li {
    display: inline-block;
    border-bottom: 3px solid var(--red);
}

.footer {
    display: flex;
    margin-top: 60px;
    text-align: center;
    justify-content: center;
}